Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: 'bugprone-*,clang-analyzer-*'
HeaderFilterRegex: '(^|[\\/])(apps|core|tests)[\\/]'
FormatStyle: file
