# SPDX-FileCopyrightText: 2026 MEHLISSA contributors
# SPDX-License-Identifier: MPL-2.0

Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: 'bugprone-*,clang-analyzer-*'
HeaderFilterRegex: '(^|[\\/])(apps|core|experiment|models|tests)[\\/]'
FormatStyle: file
