# SPDX-FileCopyrightText: 2026 MEHLISSA contributors
# SPDX-License-Identifier: MPL-2.0

* text=auto

*.adoc text eol=lf
*.cmake text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
CMakeLists.txt text eol=lf

*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
